/* ProductView.module.css */

/* Styling for the quantity selector container */
.quantity-selector {
  display: flex;
  align-items: center;
}

/* Styling for the quantity selector buttons */
.quantity-button {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.quantity-input {
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem;
  width: 40px;
  text-align: center;
  margin: 0 0.5rem;
}

/* Hover and active states for buttons */
.quantity-button:hover,
.quantity-button:focus {
  background-color: #e2e6ea;
}

.quantity-button:active {
  background-color: #d3d9de;
}
